*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-color: #f0f0f0;
}

header{
    background-color: #4a90d9;
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    border-bottom: 2px solid palevioletred;
}

nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

nav :hover{
    color: pink;
}

section{
    height: 100vh;
    padding-top: 120px;
    max-width: 1000px;
    margin: auto;
    border-left: 2px solid palevioletred;
    border-right: 2px solid palevioletred;
    padding-left: 30px;
}

h1{
    color: #4a90d9;
    font-size: 50px;
    margin-bottom: 20px;
}

p{
    line-height: 1.6;
    color: #252323;
    font-size: 23px;
    margin-bottom: 13px;
}

.github{
    color: #4a90d9;
    text-decoration: none;
    font-size: 22px;
    margin-top: 30px;
}

.profile{
    width: 330px;
    margin-bottom: 10px;
    margin-left: 600px;
    transition: 0.3s;
}

.profile:hover{
    transform: scale(1.1);
}

footer{
    background-color: #4a90d9;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p{
    display: flex;
    justify-content: center;
    padding-top: 12px;
    font-size: 18px;
    color: white;
    /* border-top: 2px solid palevioletred; */
}

#about, #projects{
    padding-top: 170px;
}

span{
    color: #0f3661;
}

#like{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #4a90d9;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

#likeSpan{
    margin-left: 10px;
    font-size: 26px;
}

h3{
    position: absolute;
    left: 60px;
    top: 20px;
    color: white;
}

.logo{
    height: 30px;
}

.skills-box{
    display: flex;
    margin-top: 50px;
}

.left{
    border-right: 3px solid palevioletred;
    padding-right: 80px;
}

.left p{
    display: flex;
    align-items: center;
    gap: 8px;
}

.right{
    padding-left: 20px;
}

.footer-box{
    display: flex;
    align-items: center;
    gap: 515px;
    padding-left: 550px;
    border-top: 2px solid palevioletred;
}
#switch{
    position: absolute;
    right: 60px;
    top: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.dark{
    background-color: #000000;
    color: white;
}

.dark h1{
    color: white;
}

.dark span{
    color: #0a52ee;
}

.dark p{
    color: #4a90d9;
}

.dark header{
    background-color: #4a90d9;
}

.dark footer p{
    color: white;
}

.dark .github{
    color: white;
}